<app-model-group-admin></app-model-group-admin>
<app-header-dashboard></app-header-dashboard>
<app-sidenav-admin></app-sidenav-admin>

<div class="backgroud-tradeColor">
    
    <div class="border"></div>
        <div class="group-equipe" (click)="showModelGroup()">
            <i class="material-icons">
                group
            </i>
        </div>
   
    <div class="buttonTradeColor" (click)="buttonTradeColor()">
        <div class="feature">
            <div class="circuleRadio"></div>
        </div>
    </div>
  
</div>
