<footer>
    <div class="subcontainer-footer">

    </div>
    <div class="container-footer" id="aboutus">
       
        <div class="footer-items">
            <h1 class="title-item"  (click)="toggleFooter(0)">Membros da equipe
                <div class="arrow-divs-container">
                    <div id="arrow-1"></div>
                    <div id="arrow-2"></div>
                </div>
            </h1>
           
            <div class="container-items" >
                <p class="member-equipe">Erine Aguiar</p>
                <p class="member-equipe">Rafael Barbosa</p>
                <p class="member-equipe">André Rafael</p>
                <p class="member-equipe">Juliana Xavier</p>
                <p class="member-equipe">Pedro Leonan</p>
                <p class="member-equipe">Hévine Lopes</p>
            </div>
        </div>
        <div class="footer-items">
            
            <h1 class="title-item" (click)="toggleFooter(1)" >Turma
                <div class="arrow-divs-container">
                    <div id="arrow-1"></div>
                    <div id="arrow-2"></div>
                </div>
            </h1>
            <div class="container-items">
                <p class="turma-items">Curso: Desenvolvimento de Sistemas</p>
                <p class="turma-items">N° Turma: I2263MB</p>
                <p class="turma-items">Série: 3° ano</p>
            </div>
           

        </div>
        <div class="footer-items">
            <h1 class="title-item" (click)="toggleFooter(2)">Repositório do Projeto:
                <div class="arrow-divs-container">
                    <div id="arrow-1"></div>
                    <div id="arrow-2"></div>
                </div>
            </h1>
            <div class="container-items">
                <a class="github-container" href="https://github.com/RafaelCardoso11/EAD-research-project-Angular">
                    <img src="https://img.icons8.com/fluent/48/000000/github.png"/>
                    Github
                </a>
            </div>
           
        </div>
        <div class="footer-items">
            <h1 class="title-item" (click)="toggleFooter(3)">Informações
                <div class="arrow-divs-container">
                    <div id="arrow-1"></div>
                    <div id="arrow-2"></div>
                </div>
            </h1>
            <div class="container-items">
                <p class="p-imfo">
                    Site desenvolvido por ocasião da conclusão do curso Técnico em Desenvolvimento de Sistemas por parte integrantes
                     mencionados como membros da equipe. O projeto de conclusão consiste na pesquisa que o site apresenta.
                </p>
            </div>
          
        </div>
        <div class="footer-items nav">

            <h1 class="title-item nav" (click)="toggleFooter(4)">Navegação
                
            </h1>
            <nav class="container-items nav">
                <ul>
                    <li class="aboutUs"><a href="#forms">Formulários</a></li>
                    <li class="aboutUs"><a href="#goals">Objetivos</a></li>
                    <li class="aboutUs"><a href="#etapas">Etapas</a></li>
                    <!-- <li class="aboutUs"><a href="#results">Resultados</a></li> -->
                    <!-- <li class="aboutUs"><a href="#aboutus">Sobre nós</a></li> -->
                </ul>
            </nav>
        </div>

    </div>
    <div class="container">
        <p class="copy"> 
            2021 | All rights are free to use ❤.
        </p>
    </div>
</footer>