//header
$red-backgroudHeader-Color:#B8081D;
$red-buttons-hover:#aa071a;


//container-goals
$gray-backgroud-color: #f0f0f0;

//container-headerView
$color-whitef5:#fff5f5;
$redDark-buttons-hover: #57060f;

//footer
$red-container-copy:#7e0606;
$red-primary-Color: #ad1426;
$red-secundary-Color: #b6172a;
$red-tertiary-Color: #f15050;

//Padrão
$white-color: #ffffff;
$black-color: #000000;