<section class="container-sidenav">
    <div class="nav-container">
        <div class="header-nav">
            <i class="material-icons">
                addchart
            </i>
            <div class="p-container">
                <h1>Projeto da pesquisa</h1>
                <p>Dashboard</p>
            </div>

        </div>
        <div class="container-perfil">
            <div class="circule-perfil"></div>
            <div class="perfil">
                <h1 class="name">Rafael Cardoso</h1>
                <h2 class="office">
                    <i class="material-icons">dashboard</i>
                    Administrador
                </h2>
            </div>

        </div>
        <div class="container-buttons">
            <button class="button_clicker">
                <i class="material-icons">
                    assessment
                </i>
                <div class="border-left"></div>
                Início
            </button>

            <button class="button_2">
                <i class="material-icons">
                    leaderboard
                </i>
                <div class="border-left"></div>
                Dados por cidade
            </button>

            <button class="button_3">
                <i class="material-icons">
                    timeline
                </i>
                <div class="border-left"></div>
                Análises
            </button>

            <button class="button_4">
                <i class="material-icons">
                    person_search
                </i>
                <div class="border-left"></div>
                Pesquisar Usuário
            </button>

            <button class="button_5">
                <i class="material-icons">
                    picture_as_pdf
                </i>
                <div class="border-left"></div>
                Relatório
            </button>



        </div>
        <hr>
        <footer class="footer-sidenav">
            <div class="footer-content"></div>
            <div class="redesSociais">
          <!--   <img src="assets/img/ifpa-black-icon.jpg" alt=""> -->
            </div>
        </footer>
    </div>

    <div class="content-sidenav">
        <router-outlet></router-outlet>
    </div>
</section>