<header>
    <div class="header-container">
        <div class="logo"><img src="/assets/img/logo.jpg" alt=""></div>
        <nav class="menu-container">
            <ul>
                <li class="aboutUs"><a href="#forms">Formulários</a></li>
                <li class="aboutUs"><a href="#goals">Objetivos</a></li>
                <li class="aboutUs"><a href="#results">Resultados</a></li>
                <li class="aboutUs"><a href="#aboutus">Sobre nós</a></li>
            </ul>
        </nav> 
    </div>
</header>