@import '../../../colors/paleta.scss';
header {
    //font-family: "Poppins", Sans-serif;
    width: 100%;
    position: fixed;
    height: 70px;
    z-index: 2;
    background-color: $red-backgroudHeader-Color;
    opacity: 0.9;
    .header-container {
        font-family: 'Raleway', sans-serif;
        font-size: 10%;
        max-width: 1000px;
        width: 90%;
        margin: 0 auto;
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .logo {
            img {
                width: 60px;
                height: 60px;
            }
        }
        .menu-container {
            align-items: center;
            .aboutUs {
                text-decoration: none;
                display: inline;
                color: $black-color;
               
                font-size: 16rem;
                font-weight: 450;
                margin-right: 40px;
                border: 1px;
                cursor: pointer;
                a{
                    font-family: 'Raleway', Sans-serif;
                }
                a:hover {
                    text-decoration: none;
                    transition: 400ms;
                    border-bottom: 2pt $white-color solid;
                }

                a:link,
                a:visited {
                    text-decoration: none;
                    color: $white-color;
                }
            }
        }
        .menu-mobile {
        
            cursor: pointer;
            div {
               
                transition: 300ms;
                width: 40px;
                height: 5px;
                background: $white-color;
                margin-bottom: 4px;
            }
            &.on {
                #one {
                    opacity: 0.7;
                    transition: 300ms;
                    transform: rotate(45deg) translate(6px, 3px);
                }
                #two {
                    display: none;
                }
                #three {
                    transition: 300ms;
                    transform: rotate(-45deg) translate(2px, -2px);
                }
            }
        }
    }
    .menu-container-mobile {
        display: none;
        padding-top: 10vh;
        position: fixed;
        width: 100%;
        height: 100%;
        top: 70px;
        left: 0;
        background:  $red-backgroudHeader-Color;

        .aboutUs {
            cursor: pointer;
            width: 100%;
            text-align: center;
            padding: 20px;
            background: $red-backgroudHeader-Color;
            margin-top: 5px;
            font-size: 25rem;
            font-weight: 450;
            a {
                font-family: 'Raleway', Sans-serif;
                font-weight: 500;
                color: $white-color;
            }
        }
        .aboutUs:hover {
            background:  $red-buttons-hover;
        }
        &.on {
            display: block;
        }
    }
}
@import '../../../sizeResponsiveness/main.scss';
