<header>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
    </style>
    <div class="header-container">
        <div class="logo"><img src="/assets/img/logo.jpg" alt=""></div>
        <nav class="container-login">
            <ul>
                <li class="aboutUs"><a href="#forms">Formulários</a></li>
                <li class="aboutUs"><a href="#goals">Objetivos</a></li>
                <li class="aboutUs"><a href="#results">Resultados</a></li>
                <li class="aboutUs"><a href="#aboutus">Sobre nós</a></li>
            </ul>
        </nav> 
    </div>
</header>