header {
    font-family: 'Lato', sans-serif;
    position: fixed;
    z-index: 2;
    width: 100%;
    height: 70px;
    background-image: linear-gradient(-45deg, rgb(191, 206, 245), #d0d4e2);
    .header-container {
        font-family: 'Lato';
        font-size: 10%;
        max-width: 1000px;
        width: 90%;
        margin: 0 auto;
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .logo {
            img {
                border-radius: 52%;
                background-color: #86a3fa;
                width: 15%;
                height: 15%;
            }
        }
        .container-login {
            display: inline;
            align-items: center;
            .aboutUs {
                padding-top: 20%;
                text-decoration: none;
                display: inline;
                color: rgb(22, 22, 22);
                font-family: 'Lato', sans-serif;
                font-size: 16rem;
                font-weight: 700;
                margin-right: 40px;
                border: 1px;
                cursor: pointer;
                
                
                .aboutUs a:hover,
                .aboutUs a:visited {
                    color: lawngreen;
                    transition: 400ms;
                    border-bottom: #3c6bfa solid;
                    border-radius: 30%;
                }
            }
            .bt_register {
                outline: none;
                border: 0;
                cursor: pointer;
                color: white;
                font-weight: 700;
                font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
                background-color: rgb(95, 79, 238);
                box-shadow: 0px 1px 0px rgb(122, 110, 238);
                margin-right: 20px;
                padding: 10px 30px;
                border-radius: 20px;
                &:hover {
                    transition: 400ms;
                    background: rgb(86, 68, 253);
                }
            }
            .moreLogin {
                .login-for-gmail {
                    img {
                        width: 25px;
                        height: 25px;
                    }
                }
            }
        }
    }
}
