<section class="more-research">
    <div class="container-research">
        <div class="container-pesquisa" id="goals">
            <div class="img-container-research">
                <img src="assets/img/pesq.png" class="img-pesq" alt="">
            </div>
            <div class="container-research-objetivo">

                <h1 class="title-research">| Objetivo da pesquisa |</h1>
                <div class="line-details"></div>
                <p class="description-title"> Com a suspensão das aulas presenciais provocada pela pandemia da Covid-19,
                    entrou em foco o ensino remoto que tem sua qualidade influenciada por diversos fatores, como:
                    disponibilidade
                    de tempo, condições socioeconômicas que são determinantes para o acesso aos meios tecnológicos
                    necessários (internet, computadores, telefones celulares) e a forma como o ensino é ofertado,
                    através de aulas ao
                    vivo ou por aulas gravadas, por exemplo. Assim, idealizamos um questionário rápido será utilizado
                    para a execução de nossa pesquisa e, com os dados obtidos faremos uma análise do panorama
                    educacional na região metropolitana de Belém.
                </p>
                <div class="line-details" id="line-bottom"></div>
            </div>



        </div>
    </div>
</section>