.more-research {
   background-color: lightslategrey;
    .container-research {
        max-width: 1000px;
      
        margin: 0 auto;
        width: 90%;
        .Summary-title {
            font-family: "Ubuntu", sans-serif;
            padding-top: 100px;
            margin-bottom: 5px;
            font-size: 24rem;
            font-weight: 700;
        }
        .title-research {
            font-family: "Ubuntu", sans-serif;
            color: white;
            text-align: initial;

            font-size: 36rem;
            font-family: 700;
        }
        .description-title {
            font-family: "Ubuntu", sans-serif;
            color: white;
            text-align: initial;
            font-size: 24rem;
            font-family: 700;
            line-height: 36px;
        }
        .cards {
            // Esse card vale para todos que estão utilizando a class cards
            .card-title {
                font-size: 30rem;
            }
            font-size: 25rem;
            background: #86a3fa;
            box-shadow: 0px 0px 3px;
            margin-right: 10px;
            padding: 70px 20px;
            border-radius: 10px;
        }
        .container-pesquisa {
            background-color: maroon;
        }
        .content-pesquisa {
            display: flex;
            background-color: lightcoral;
            padding: 20px 0px;
        }
        .container-relatorio {
            padding-top: 10px;
            display: block;
            background-color: lightseagreen;
        }
    }
    
}
