<section class="more-research">
    <div class="container-research">
        <div class="container-pesquisa" id="goals">
            <div class="title">
                <h1 class="title-research">Objetivos da pesquisa</h1>
                <p class="description-title"> Entende-se que a qualidade do ensino remoto oferecido como solução para a suspensão das aulas presenciais
                     provocada pela pandemia da Covid-19 é influenciada por diversos fatores, tais como: disponibilidade de tempo, condições socioeconômicas,
                      acesso aos meios tecnológicos necessários (internet, computadores, telefones celulares), forma pelo qual o ensino é ofertado - aulas ao
                       vivo, aulas gravadas, cadernos de questões e outros. Por isso, idealizamos um questionário rápido que nos trará as informações necessárias
                        para uma melhor análise do contexto da educação em que a região Metropolitana de Belém está inserida. </p>
            </div>
            
            <div class="content-pesquisa">
                <div class="cards">
                    <h1 class="card-title">Titulo</h1>
                    <img src="../../../../assets/img/pesquisa.jpg" class="img-pesq" alt="">
                    <div class="text">Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                    Lorem
                    Ipsum has been the
                    industry's standard dummy text ever.</div></div>
                <div class="cards">
                    <h1 class="card-title">Titulo</h1>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                    Lorem
                    Ipsum has been the
                    industry's standard dummy text ever.</div>
                <div class="cards">
                    <h1 class="card-title">Titulo</h1>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                    Lorem
                    Ipsum has been the
                    industry's standard dummy text ever.</div>
            </div>
        </div>
        <div class="container-relatorio" id="results">
            <h3 class="Summary-title">| Relatorio</h3>
            <h1 class="title-research">Objetivo da pesquisa</h1>
            <p class="description-title"> Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                Lorem
                Ipsum has been the
                industry's standard dummy text ever.</p>
            <div class="content-pesquisa">
                <div class="cards">
                    <h1 class="card-title">Titulo</h1>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                    Lorem
                    Ipsum has been the
                    industry's standard dummy text ever.</div>
                <div class="cards">
                    <h1 class="card-title">Titulo</h1>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                    Lorem
                    Ipsum has been the
                    industry's standard dummy text ever.</div>
                <div class="cards">
                    <h1 class="card-title">Titulo</h1>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                    Lorem
                    Ipsum has been the
                    industry's standard dummy text ever.</div>
            </div>
        </div>
    </div>

</section>