.more-research {
    width: 100%;
    height: auto;
    font-size: 10rem;
    font-family: 'Raleway', sans-serif;
    .container-research{
        min-height: 100vh;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        
        .container-pesquisa{
            width: 100%;
            display:flex;
            padding: 20px;
            
            .img-container-research{
                min-height: 100vh;
                display: flex;
                justify-content: center;
                align-items: center;
                margin-top: 50px;
               img{
                   border-radius: 40%;
                   object-fit: cover;
                   margin: 40px;
                     max-width: 500px;
                   height: 500px;
               }
            }
            .container-research-objetivo{
            
                min-height: 100vh;
                display: flex;
                justify-content: center;
                flex-direction: column;
                align-items: center;
                width: 100%;
               
                .title-research{
                    width: 100%;
                    color: black;
                    text-align: right;
                    font-size: 40rem;
                    font-family: "Poppins", Sans-serif;

                    padding: 20px;
                }
                .line-details{
                    width: 100px;
                    height: 3px;
                    background-color: #B8081D ;
                    margin-bottom: 20px;
                }
                #line-bottom{
                    margin: 70px 0px;
                    width: 200px;
                    margin-left: auto;
                }
                .description-title{
                    font-weight: 370;
                    text-indent: 70px;
                    line-height: 30px;
                    text-align:left;
                    font-size: 16rem;
                    max-width: 600px;
                    
                }
              
            }
           
            .container-svg-bg{
               
                width: auto;
                .bg-details-svg{
                    
                    position: absolute;
                    z-index: -1;
                    right: 0;
                    fill: #ac1527;
                    //top: 800px;
                    opacity: 0.4;
                    max-width: 850px;

                  }
            }
            
        }
    }
   
}
@import '../../../sizeResponsiveness/main.scss';