<section class="more-research">
    <div class="container-research">
        <div class="container-pesquisa">
            <h3 class="Summary-title">| Pesquisa</h3>
            <h1 class="title-research">Objetivo da pesquisa</h1>
            <p class="description-title"> Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                Lorem
                Ipsum has been the
                industry's standard dummy text ever.</p>

            <div class="content-pesquisa">
                <div class="cards">
                    <h1 class="card-title">Titulo</h1>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                    Lorem
                    Ipsum has been the
                    industry's standard dummy text ever.</div>
                <div class="cards">
                    <h1 class="card-title">Titulo</h1>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                    Lorem
                    Ipsum has been the
                    industry's standard dummy text ever.</div>
                <div class="cards">
                    <h1 class="card-title">Titulo</h1>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                    Lorem
                    Ipsum has been the
                    industry's standard dummy text ever.</div>
            </div>
        </div>

        <div class="container-relatorio">
            <h3 class="Summary-title">| Relatorio</h3>
            <h1 class="title-research">Objetivo da pesquisa</h1>
            <p class="description-title"> Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                Lorem
                Ipsum has been the
                industry's standard dummy text ever.</p>
            <div class="content-pesquisa">
                <div class="cards">
                    <h1 class="card-title">Titulo</h1>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                    Lorem
                    Ipsum has been the
                    industry's standard dummy text ever.</div>
                <div class="cards">
                    <h1 class="card-title">Titulo</h1>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                    Lorem
                    Ipsum has been the
                    industry's standard dummy text ever.</div>
                <div class="cards">
                    <h1 class="card-title">Titulo</h1>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                    Lorem
                    Ipsum has been the
                    industry's standard dummy text ever.</div>
            </div>
        </div>
    </div>

</section>