<app-header></app-header>
<app-content-header-view></app-content-header-view>
<app-content-more-about-research-view></app-content-more-about-research-view>
<app-content-goals-research></app-content-goals-research>
<app-section-comments></app-section-comments>
<app-content-result-general-research></app-content-result-general-research>
<!-- <app-content-result-discentes-research></app-content-result-discentes-research>
<app-content-result-docentes-research></app-content-result-docentes-research> -->
<app-footer></app-footer>
