<section class="container-goals">
  <div class="content-goals">
    <div class="card-goals">
      <img src="assets/img/pesquisa.jpg" alt="">
      <h1 class="title-card">Titulo do card</h1>
      <p class="desc-card">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
        been the industry's standard dummy text ever since the 1500s</p>
    </div>
    <div class="card-goals">
      <img src="assets/img/pesquisa.jpg" alt="">
      <h1 class="title-card">Titulo do card</h1>
      <p class="desc-card">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
        been the industry's standard dummy text ever since the 1500s</p>
    </div>
    <div class="card-goals">
      <img src="assets/img/pesquisa.jpg" alt="">
      <h1 class="title-card">Titulo do card</h1>
      <p class="desc-card">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
        been the industry's standard dummy text ever since the 1500s</p>
    </div>
    <div class="card-goals">
      <img src="assets/img/pesquisa.jpg" alt="">
      <h1 class="title-card">Titulo do card</h1>
      <p class="desc-card">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
        been the industry's standard dummy text ever since the 1500s</p>
    </div>
  </div>
</section>