<section class="container-goals" id="etapas">
  <div class="content-goals" >
    <h1 class="title-section">| Etapas da Pesquisa |</h1>
      <div class="card-goals">
      <img src="assets/img/identificar-removebg-preview.png" alt="" class="img-1">
      <h1 class="title-card">Identificar</h1>
      <p class="desc-card">
        Identificar o contexto e o panorama da aplicação de aulas remotas nas instituições de ensino da região metropolitana de Belém.
      </p>
    </div>
    <div class="card-goals">
      <img src="assets/img/compreender-removebg-preview.png" alt="">
      <h1 class="title-card">Compreender</h1>
      <p class="desc-card">Compreender as dificuldades enfrentadas por discentes e docentes com a mudança da modalidade presencial de ensino para a remota.</p>
    </div>
    <div class="card-goals">
      <img src="assets/img/avaliar-removebg.png" alt="">
      <h1 class="title-card">Avaliar</h1>
      <p class="desc-card">Avaliar os pontos negativos e positivos relacionados à implantação das aulas remotas, levando em consideração o contexto da pandemia do Covid-19.</p>
    </div>
    <div class="card-goals">
      <img src="assets/img/analisar-removebg-preview.png" alt="">
      <h1 class="title-card">Analisar</h1>
      <p class="desc-card">Analisar as consequências atreladas à qualidade do processo de ensino-aprendizagem da educação remota para alunos e professores.</p>
    </div>
  </div>
</section>