<section class="container-headerView">
    <div class="content-header" id="forms">
        <div class="container">
            <h1 class="title">Participe da nossa pesquisa sobre o ensino remoto!</h1>
            <p class="desc">Junte-se aos <strong>1000</strong> discentes e docentes que já participaram da pesquisa.
            </p>
            <div class="buttons">
                <button class="bt_participar" id="professor"> <strong> Professor </strong></button>
                <button class="bt_participar" > <strong>Aluno</strong> </button>
            </div>
        </div>
    </div>
</section>