<section class="container-headerView">
    <div class="content-header" id="forms">
        <div class="container">
            <h1 class="title">Participe da nossa pesquisa sobre o ensino remoto!</h1>
            <p class="desc">Junte-se aos discentes e docentes que já participaram da pesquisa.</p>
            <div class="buttons">
                <a href="https://forms.gle/TSvJo6BJJTWaEKxC8"><button class="bt_participar " id="professor"> <strong> Professor </strong></button></a>
                <a href="https://forms.gle/TjX8EW4YjmRHe9Z26"><button class="bt_participar"> <strong> Aluno </strong> </button></a>
            </div>
        </div>
    </div>
</section>