<section class="container-headerView">
    <div class="content-header" id="forms">
        <div class="container">
            <h1 class="title">Participe da nossa pesquisa sobre o ensino a distância (EAD).</h1>
            <p class="desc">Junte-se aos <strong>{{usuarios.id}}</strong> discentes e docentes que já participaram da pesquisa.
            </p>
            <div class="buttons">
                <button class="bt_participar" id="professor" (click)="redirectToTeacherForm()">Sou Professor</button>
                <button class="bt_participar" (click)="redirectToStudentForm()">Sou Aluno</button>
            </div>
        </div>
    </div>
</section>