.container-headerView {
    width: 100%;
    max-height: 100%;
    
    margin: 0 auto;

    .content-header {
        background-image: url(/assets/img/ead.jpeg);
        background-size: 200% 200%;
        background-repeat: no-repeat;
        display: flex;
        flex-direction: column;
        padding: 0px 10px;
        height: 110vh;
        align-items: center;
        text-align: center;
        justify-content: center;
       
       .container{
        animation: animation-showO-letters 1s ease-in-out forwards;
        .title {
            //font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            font-size: 30rem;
            width: 500rem;
            margin: 0 auto;
            font-weight: 700;
            color: rgb(0, 0, 0);
        }
        .desc {

            width: 450rem;
            margin: 0 auto;
            color: black;
            font-size: 19rem;
            font-weight: 400;
            margin-top: 16px;
        }
        .buttons{
            width: 500rem;
            margin: 0 auto;
            .bt_participar {
                cursor: pointer;
                margin-top: 30rem;
                outline: 0;
                border: 10px;
                border-radius: 30px;
                background-color: rgb(189, 81, 9);
                opacity: 0.9;
                color: rgb(255, 255, 255);
                font-size: 16rem;
                font-weight: 750px;
                //font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
                padding: 20rem 0px;
                width: 140px;
               
                margin-right: 30px;
                
                &:hover {
                    scale: 4px;
                    font-size: 18rem;
                    transition: 400ms;
                    padding: 25rem;
                    text-align: center;
                }
            }
        }
       
       }
       
    }
}
