<section class="container-comments">
  <div class="blob-svg">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320" preserveAspectRatio="none">
      <path fill="#FF0066"
        d="M0,224L40,218.7C80,213,160,203,240,213.3C320,224,400,256,480,240C560,224,640,160,720,144C800,128,880,160,960,149.3C1040,139,1120,85,1200,96C1280,107,1360,181,1400,218.7L1440,256L1440,320L1400,320C1360,320,1280,320,1200,320C1120,320,1040,320,960,320C880,320,800,320,720,320C640,320,560,320,480,320C400,320,320,320,240,320C160,320,80,320,40,320L0,320Z">
      </path>
    </svg>
  </div>
  <h1 class="title-comments" id="comments">| Comentários |</h1>
  <p class="subtitle-comments">
    Estes são alguns comentários de docentes e discentes que já participaram da pesquisa, contando um 
    pouco de suas experiências e impressões com o ensino remoto, além de propostas de melhorias de acordo 
    com suas realidades e dificuldades.
  </p>
  <div class="container-cards-comments">

    <div class="comments-cards">

      <h1 class="title-card">
        <i class="las la-graduation-cap"></i>
        <div>Aluno</div>
      </h1>
      <p class="textArea-comments">
        "As instituições públicas daqui da região de Belém, não estão e nunca estiveram preparadas para o ensino remoto,
        se presencialmente já existia dificuldades, com as aulas online não foi diferente."
      </p>
      <footer>
        <h3 class="author-comments">
          Anônimo
        </h3>
        <i class="las la-user-circle"></i>
      </footer>
    </div>
    <div class="comments-cards">
      <h1 class="title-card">
        <i class="las la-chalkboard-teacher"></i>
        <div>Professor</div>
      </h1>
      <p class="textArea-comments">
        "O ensino remoto possibilita utilizar novas técnicas e ferramentas de ensino, no entanto as condições sociais
        desiguais tornam essa modalidade de ensino inacessível para nossa sociedade. Seria possível melhorar, se
        houvesse acesso igualitário."
      </p>
      <footer>
        <h3 class="author-comments">
          Anônimo
        </h3>
        <i class="las la-user-circle"></i>
      </footer>
    </div>
    <div class="comments-cards">
      <h1 class="title-card">
        <i class="las la-graduation-cap"></i>
        <div>Aluno</div>
      </h1>
      <p class="textArea-comments">
        "Minha experiência está sendo boa, porém é inevitável a discrepância de qualidade entre as aulas remotas e
        presenciais, além dos diversos fatores que influenciam nesse ensino emergencial, que para a maioria dos alunos
        está sendo bem caótico!"
      </p>
      <footer>
        <h3 class="author-comments">
          Anônimo
        </h3>
        <i class="las la-user-circle"></i>
      </footer>
    </div>

  </div>

</section>
