@media only screen and (max-width: 1300px) {

    
    .container-headerView {
        .content-header {
          
        }
    }
    .more-research {
        .container-research {
            .title-research {
                text-align: center;
            }
            .container-research-objetivo {
               
                .description-title {
        
                }
            }
            .container-pesquisa {
              
                .img-container-research {
                    padding: 20px;
                    margin: 20px;
                    img {
                        width: 500px;
                    }
                }
            }
        }
    }
    .container-goals {
        .content-goals {
            .card-goals {
                max-width: 600px;
             
                height: auto;
                padding: 10px;
                margin-bottom: 50px;
                .title-card {
                    font-size: 35rem;
                }
                .desc-card {
                    font-size: 20rem;
                }
            }
        }
    }
  }

  @media only screen and (max-width: 1100px) {
    
    .container-headerView {
        .content-header {
          
        }
    }
    .more-research {
        .container-research {
            .title-research {
                text-align: center;
            }
            .container-research-objetivo {
               
                .description-title {
        
                }
            }
            .container-pesquisa {
              
                .img-container-research {
                   
                    img {
                        width: 400px;
                    }
                }
            }
        }
    }
    .container-goals {
        .content-goals {
            .card-goals {
                max-width: 600px;
             
                height: auto;
                padding: 10px;
                margin-bottom: 50px;
                .title-card {
                    font-size: 35rem;
                }
                .desc-card {
                    font-size: 25rem;
                }
            }
        }
    }
  }
@media only screen and (max-width: 920px) {
  header {
      .header-container {
          .menu-container {
              display: none;
           
          }
          .menu-mobile {
              display: block;
          }
      }
  }
  .container-headerView {
      .content-header {
          background-size: 150% 100%;
      }
  }
  .more-research {
      .container-research {
          .title-research {
              text-align: center;
          }
          .container-research-objetivo {
             
              .description-title {
                  width: 100%;
                 
              }
          }
          .container-pesquisa {
              flex-direction: column;
            
              .img-container-research {
                  padding: 20px;
                  margin: 20px;
                  img {
                      width: 400px;
                  }
              }
          }
      }
  }
  .container-goals {
      .content-goals {
          .card-goals {
              max-width: 600px;
           
              height: auto;
              padding: 10px;
              margin-bottom: 50px;
              .title-card {
                  font-size: 35rem;
              }
              .desc-card {
                  font-size: 25rem;
              }
          }
      }
  }
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 920px) {

  header {
    .header-container {
        .menu-container {
            display: block;
         
        }
        .menu-mobile {
            display: none;
        }
    }
  }
}

