/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 816px) {
    footer {
        .container-footer {
            grid-template-columns: repeat(auto-fit, minmax( 1fr));
            justify-content: center;
            .footer-items {
                width: 90%;
              

                &.on {
                    .container-items {
                        display: block;
                        animation: hideMenuFooterTop 200ms forwards;
                    }
                    .arrow-divs-container {
                        transform: rotate(45deg);
                    }
                }
                .title-item {
                    margin-top: 20px;
                    padding: 20px 0px;
                    cursor: pointer;
                    border-bottom: 1px solid rgb(218, 127, 127);
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    &:hover {
                        transition: 200ms;
                        opacity: 0.7;
                    }
                    &.nav {
                        display: none;
                    }
                    .arrow-divs-container {
                        div {
                            background-color: white;
                            width: 15px;
                            height: 2px;
                        }
                        #arrow-1 {
                            transform: translateY(2px);
                        }
                        #arrow-2 {
                            transform: rotate(90deg);
                        }
                    }
                }
                .container-items {
                    display: flex;
                    text-align: center;
                    align-items: center;
                    flex-direction: column;
                    display: none;
                    opacity: 0;
                    transform: translateY(-20%);
                  
                        .github-container {
                         
                            justify-content: center;
                        }
                    &.nav {
                        display: none;
                    }
                }
            }
        }
    }

    .container-headerView {
        .content-header {
            .container {
                .desc {
                    font-size: 25rem;
                }
                .buttons {
                    width: 50%;
                }
            }
        }
    }
}

@media only screen and (max-width: 450px) {
    header {
        .header-container {
            .menu-container {
                display: none;
            }
            .menu-mobile {
                display: block;
            }
        }
    }
    .container-headerView {
        .content-header {
            .container {
                .title {
                    width: 90%;
                }
              
                .desc {
                    font-size: 25rem;
                }
            }
        }
    }
    .more-research {
        h1 {
            text-align: center;
        }

        .container-research {
            .container-pesquisa {
                .container-research-objetivo {
                    .title-research {
                        text-align: center;
                    }
                }

                .img-container-research {
                    padding: 20px;
                    margin: 20px;
                    img {
                        width: 250px;
                    }
                }
            }
        }
    }
    .container-goals {
        .content-goals {
            .card-goals {
                max-width: 600px;
               
                height: auto;
                padding: 10px;
                margin-bottom: 50px;
                .title-card {
                    font-size: 35rem;
                }
                .desc-card {
                    font-size: 25rem;
                }
            }
        }
    }
    footer {
        .container-footer {
            .footer-items {
                width: 60%;
                margin: 0 auto;
                .title-item{
                    padding: 40px 0px;
                 
                }
            }
        }
    }
}
@media only screen and (max-width: 280px) {
    .container-goals {
        .content-goals {
            .card-goals {
                img {
                    min-width: 0px;
                    width: 100%;
                    z-index: 2;
                
                  }
               
            }
        }
    }
    footer {
        .container-footer {
            .footer-items {
                width: 40%;
                margin: 0 auto;
                .title-item{
                    padding: 40px 0px;
                    width: 20%;
                }
            }
        }
    }
}
@keyframes hideMenuFooterTop {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
