/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {
    html {
        font-size: 0.9px;
    }
    .more-research {
        .container-research {
            .content-pesquisa {
                flex-direction: column;
            }
            .cards {
                margin-bottom: 20px;
            }
        }
    }
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 600px) {
    html {
        font-size: 0.8px;
    }
    header {
        .header-container {
            .menu-container {
                display: none;
                .aboutUs {
                }
            }
            .menu-mobile {
                display: block;
            }
        }
    }
  
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 400px) {
    html {
        font-size: 0.59px;
    }
}
