@media (max-width: 768px) {
    html{
        font-size: 0.9px;
    }

    .more-research {
        .container-research {
            .content-pesquisa {
                flex-direction: column;
            }
            .cards{
                margin-bottom: 20px;
            }
        }
    }
}
@media(max-width:550px){
    html{
        font-size: 0.8px;
    }
}
@media(max-width:400px){
    html{
        font-size: 0.6px;
    }
}