*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: system-ui,-apple-system,BlinkMacSystemFont,Segoe UI, Helvetica Neue,Helvetica,Arial,sans-serif;
    
}
html{
    width: 100%;
    height: 100%;
    font-size: 1px;
    overflow-x: hidden;
}

input{
    border: 0;
    outline: none;
    background-color: rgb(163, 150, 150);
}
a{
    text-decoration: none;
}
button{
    border: 0;
    outline: none;
}

//IMPORTS

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
